@model Yarışma.Models.ContestantCategory

<div class="page-content-wrapper">
	<div class="page-content">
<div class="card border-top border-0 border-4 border-danger">
	<div class="card-body p-5">
		<div class="card-title d-flex align-items-center">
			<div>
				<i class="bx bxs-user me-1 font-22 text-danger"></i>
			</div>
			<h5 class="mb-0 text-danger">Yarışmacı Kategori Ekle</h5>
		</div>
		<hr>
		<form class="row g-3" method="post">
			<div class="col-md-6">
				<label asp-for="Name" class="form-label">Kategori Adı:</label>
				<div class="input-group">
					<input type="text" class="form-control border-start-0" asp-for="Name" placeholder="Kategori Adı">
					<span class="text-danger" asp-validation-for="Name"></span>
				</div>
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-danger px-5">Kaydet</button>
			</div>
		</form>
	</div>
</div>
	</div>
</div>

