<!DOCTYPE html>
<html lang="en">

<head>
	<partial name="_Head"></partial>
</head>

<body>

	<div class="wrapper">
		<!-- wrapper -->
		<!--sidebar-wrapper-->
		<partial name="_Sidebar"></partial>
		<!--end sidebar-wrapper-->
		<!--header-->
		<partial name="_Header"></partial>
	</div>
	<!--end header-->
	@RenderBody()
	<!--footer -->
	<!-- end footer -->


	<partial name="_Script"></partial>
</body>

</html>