<div class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div class="col-12 ">
			<img src="~/assets/images/images.png" class="logo-icon-2" alt="" />
		</div>
		<div>
			<h6 class="logo-text">AOSB </h6>
		</div>
		<a href="javascript:;" class="toggle-btn ms-auto">
			<i class="bx bx-menu"></i>
		</a>
	</div>
	<!--navigation-->
	<ul class="metismenu" id="menu">
		<li>
			<a href="javascript:;" class="has-arrow">
				<div class="parent-icon icon-color-1">
					<i class="bx bx-home-alt"></i>
				</div>
				<div class="menu-title">Profilim</div>
			</a>
			<ul>

				<li>
					<a asp-controller="Home" asp-action="Index">
						Profilim
					</a>
				</li>
			</ul>
		</li>
		<li class="menu-label">Projem</li>
		<li>

			<a asp-controller="Home" asp-action="Privacy">
				<div class="parent-icon icon-color-3">
					<i class="bx bx-conversation"></i>
				</div>
				<div class="menu-title">Projem</div>
			</a>

		</li>
		<li class="menu-label">İletişim</li>
		<li>

			<a asp-controller="Home" asp-action="Privacy">
				<div class="parent-icon icon-color-3">
					<i class="bx bx-conversation"></i>
				</div>
				<div class="menu-title">Bize Ulaşın</div>
			</a>

		</li>

	</ul>
	<!--end navigation-->
</div>
