<div class="page-wrapper">
	<!--page-content-wrapper-->
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="row">

				<div class="col-12 col-lg-12 col-xl-12 d-flex">
					<div class="card radius-15 w-100">
						<div class="card-body">
							<div class="row row-cols-1 row-cols-md-3 g-3">
								<div class="col">
									<div class="card radius-15 mb-0 shadow-none border">
										<div class="card-body text-center">
											<div class="widgets-icons mx-auto rounded-circle bg-info text-white">
												<i class="bx bx-time"></i>
											</div>
											<h4 class="mb-0 font-weight-bold mt-3">2m 28s</h4>
											<p class="mb-0">Kalan Süre</p>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="card radius-15 mb-0 shadow-none border">
										<div class="card-body text-center">
											<div class="widgets-icons mx-auto bg-wall text-white rounded-circle">
												<i class="bx bx-bookmark-alt"></i>
											</div>
											<h4 class="mb-0 font-weight-bold mt-3">4.68</h4>
											<p class="mb-0">Toplam Yarışmacı</p>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="card radius-15 mb-0 shadow-none border">
										<div class="card-body text-center">
											<div class="widgets-icons mx-auto bg-rose rounded-circle text-white">
												<i class="bx bx-bulb"></i>
											</div>
											<h4 class="mb-0 font-weight-bold mt-3">78%</h4>
											<p class="mb-0">Toplam Hakem</p>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="card radius-15 mb-0 shadow-none border">
										<div class="card-body text-center">
											<div class="widgets-icons mx-auto rounded-circle bg-danger text-white">
												<i class="bx bx-line-chart"></i>
											</div>
											<h4 class="mb-0 font-weight-bold mt-3">23.4%</h4>
											<p class="mb-0">Toplam Kategori</p>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="card radius-15 mb-0 shadow-none border">
										<div class="card-body text-center">
											<div class="widgets-icons mx-auto bg-primary rounded-circle text-white">
												<i class="bx bx-group"></i>
											</div>
											<h4 class="mb-0 font-weight-bold mt-3">4,286</h4>
											<p class="mb-0">Değerlendirilen</p>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="card radius-15 mb-0 shadow-none border">
										<div class="card-body text-center">
											<div class="widgets-icons mx-auto bg-success text-white rounded-circle">
												<i class="bx bx-cloud-download"></i>
											</div>
											<h4 class="mb-0 font-weight-bold mt-3">78%</h4>
											<p class="mb-0">Değerlendirilmeyen</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 d-flex">
					<div class="card radius-15 w-100">
						<div class="card-body">
							<div class="d-lg-flex align-items-center">
								<div>
									<h5 class="mb-6">Yarışmacı Kategoriler</h5>
								</div>

							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Elektirik-Elektronik <span class="float-end">20</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar" role="progressbar" style="width: 45%"></div>
								</div>
							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Clothing <span class="float-end">55%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-voilet" role="progressbar" style="width: 55%"></div>
								</div>
							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Furniture <span class="float-end">64%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-red-light" role="progressbar" style="width: 64%"></div>
								</div>
							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Accessories <span class="float-end">78%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-sunset" role="progressbar" style="width: 78%"></div>
								</div>
							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Jewellery <span class="float-end">82%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-wall" role="progressbar" style="width: 82%"></div>
								</div>
							</div>
							<div class="progress-wrapper">
								<p class="mb-1">
									Mobiles <span class="float-end">89%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-dark" role="progressbar" style="width: 89%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 d-flex">
					<div class="card radius-15 w-100">
						<div class="card-body">
							<div class="d-lg-flex align-items-center">
								<div>
									<h5 class="mb-6">Hakem Kategoriler</h5>
								</div>

							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Elektirik-Elektronik <span class="float-end">20</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar" role="progressbar" style="width: 45%"></div>
								</div>
							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Clothing <span class="float-end">55%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-voilet" role="progressbar" style="width: 55%"></div>
								</div>
							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Furniture <span class="float-end">64%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-red-light" role="progressbar" style="width: 64%"></div>
								</div>
							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Accessories <span class="float-end">78%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-sunset" role="progressbar" style="width: 78%"></div>
								</div>
							</div>
							<div class="progress-wrapper mb-4">
								<p class="mb-1">
									Jewellery <span class="float-end">82%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-wall" role="progressbar" style="width: 82%"></div>
								</div>
							</div>
							<div class="progress-wrapper">
								<p class="mb-1">
									Mobiles <span class="float-end">89%</span>
								</p>
								<div class="progress radius-15" style="height:5px;">
									<div class="progress-bar bg-dark" role="progressbar" style="width: 89%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>





		</div>
	</div>
	<!--end page-content-wrapper-->
</div>